documentation/final_report/outputs/report_grp4.html
documentation/final_report/chapters/clock_gen/clock_gen.quarto_ipynb
documentation/final_report/chapters/design/comparator/comp.quarto_ipynb
documentation/final_report/outputs/report_grp4.html
documentation/final_report/outputs/chapters/ideal_circ/ideal_circ.html
documentation/final_report/outputs/report_grp4.html
